# If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

#CLERK_SECRET_KEY=<your key goes here>
#NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=<your key goes here>
#NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=<your key goes here>
#NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=<your key goes here>
